@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

a, a:link, a:active {
    color: #222;
}

a:hover {

}

.container-fluid {
    padding: 20px;
}

.row {
    padding-bottom: 50px;
}

.recently-added {
    font-family: 'Alfa Slab One', cursive;    
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar, .navbar-expand-lg, .navbar-dark, .bg-dark{
    background: #222;
    color: #fff;
    padding: 15px;
    border-bottom: 10px solid #00D9C0;
}

.navbar a, a:active {
    color: #fff;
    font-size: 90%;
    letter-spacing: 1px;
}

.navbar a:hover {
    color: #FF4365
}

.navbar-brand {
    font-family: 'Alfa Slab One', cursive;
    color: #FF4365;
}

.navbar-brand a, a:active {
    color: #FF4365;
}

.form-group {
    /* margin: 50px; */
    border-radius: 0%;  
    border: 0px;
    /* max-width: 50%; */
}

.form-control {
   padding: 10px; 
   border-radius: 0px;
   margin-left:10px;
   max-width: 50%;
}

.form-page {
    padding: 20px;
    margin-top: 20px;
}

.form-heading {
    padding: 20px;
}

.edit-profile {
    padding: 20px;
}

.edit-heading {
    padding: 20px;
}

.actions {
    padding: 10px;
}

.welcome {
    font-family: 'Alfa Slab One', cursive;
    background: #e9e9e9;
    padding: 30px;
    text-align: center;
}

.card-img-top {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.btn {
    border-radius: 0;
    background: #FF4365;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background: #222;
}

.back {
    padding: 10px;
}