@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

a, a:link, a:active {
    color: #222;
    /* border-bottom: 2px solid #00D9C0; */
}

.recently-added {
    font-family: 'Alfa Slab One', cursive;    
}

.navbar {
    background: #222;
    color: #fff;
}

.navbar a, a:active {
    color: #fff;
}

.navbar a:hover {
    color: #FF4365
}

.navbar-brand{
    font-family: 'Alfa Slab One', cursive;
    color: #FF4365;
}

.navbar-brand a, a:active {
    color: #FF4365;
}

.welcome {
    font-family: 'Alfa Slab One', cursive;
    background: #e9e9e9;
    padding: 30px;
    text-align: center;
}

.card-img-top {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.btn {
    border-radius: 0;
    background: #FF4365;
}


/* font-family: 'Roboto', sans-serif;
font-family: 'Alfa Slab One', cursive; */