@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

a, a:link, a:active {
    color: #222;
    /* border-bottom: 2px solid #00D9C0; */
}

.navbar {
    background: #222;
    color: #fff;
}

.navbar a, a:active {
    color: #fff;
}

.navbar a:hover {
    color: #FF4365
}

.navbar-brand{
    font-family: 'Alfa Slab One', cursive;
    color: #FF4365;
}

.navbar-brand a, a:active {
    color: #FF4365;
}


/* font-family: 'Roboto', sans-serif;
font-family: 'Alfa Slab One', cursive; */